@font-face {
  font-family: jeko;
  src: url('./Fonts/jeko-medium.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


.img{
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.south-text{
  font-family: jeko;
  font-size: 3rem;
  font-weight: 400;
  display: block;
}

.trade-text{
  font-family: 'DM Sans', sans-serif;
}

.navbar-container{
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}